*{
    margin: 0;
    padding: 0;
}

body{
    background: #FFBBFF;
    font-family: monospace;
    display: flex;
    justify-content: center;
}

h1{
    margin-left: 10px;
    font-size: 35px;
}
hr{
    margin-left: 12px;
   width: 250px;
   height: 1px;
   color: white;
   box-shadow:-2px -1px 2px 2px  #f09ef0;
}

#player1{
    background-color: transparent;
    border-radius: 1rem;
    
}

#player2{
    background-color: transparent;
    border-radius: 1rem;
    
}

#start{
    width: 300px;
    border-radius: 1rem;
    background-color: transparent;
    font-size: large;
}

#turnPlayer{
    font-size: larger;
    
}
#gameBoard{
    background-color:transparent;
    display: grid;
    grid-template-columns: 6rem 6rem 6rem ;
    grid-template-rows: 6rem 6rem 6rem  ;
    gap: .5rem;
    margin-bottom: 1.5rem;
    max-width: 19rem;
}

#gameBoard span{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    display: grid;
    color: black;
    place-content: center;
    font-size: 5rem;
}

#gameBoard span.win{
    background-color: #00EE76;
}

